<!-- <p>portfolio works!</p> -->
<section style="background-color: #101010">
  <div class="container-fluid text-light py-5">
    <div class="container text-center">
      <div>
        <h1 class="heading">Portfolio</h1>
        <p>
          It is a long established fact that a reader will be of a page when
          established fact looking at its layout.
        </p>
      </div>
      <div class="item-list row my-5">
        <ul
          class="d-flex justify-content-center"
          style="display: inline-block; width: 25%; margin: auto"
        >
          <li>All</li>
          <li>Graphic</li>
          <li>UI/UX</li>
          <li>Web</li>
        </ul>
      </div>
      <div class="row justify-content-between">
        <div class="col-sm-12 col-lg-4 box mb-4">
          <img src="item-1.jpg" alt="" class="img-fluid" />
          <div class="box-show row align-items-center justify-content-center">
            <div>
              <p>head</p>
              <h5>Lorem ipsum dolor sit</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 box mb-4">
          <img src="item-2.jpg" alt="" class="img-fluid" />
          <div class="box-show row align-items-center justify-content-center">
            <div>
              <p>head</p>
              <h5>Lorem ipsum dolor sit</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 box mb-4">
          <img src="item-3.jpg" alt="" class="img-fluid" />
          <div class="box-show row align-items-center justify-content-center">
            <div>
              <p>head</p>
              <h5>Lorem ipsum dolor sit</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 box mb-4">
          <img src="item-3.jpg" alt="" class="img-fluid" />
          <div class="box-show row align-items-center justify-content-center">
            <div>
              <p>head</p>
              <h5>Lorem ipsum dolor sit</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 box mb-4">
          <img src="item-2.jpg" alt="" class="img-fluid" />
          <div class="box-show row align-items-center justify-content-center">
            <div>
              <p>head</p>
              <h5>Lorem ipsum dolor sit</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 box mb-4">
          <img src="item-1.jpg" alt="" class="img-fluid" />
          <div class="box-show row align-items-center justify-content-center">
            <div>
              <p>head</p>
              <h5>Lorem ipsum dolor sit</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
