<!-- <p>resume works!</p> -->
<!-- <i class="bi bi-person-workspace"></i>
 -->
<section>
  <div
    class="container-fluid py-5"
    class="text-light main-sec"
    style="background-color: #101010"
  >
    <div class="container p-5">
      <h1 class="text-center fw-bold">Resume</h1>
      <div class="row justify-content-center mt-5">
        <div class="col-lg-9 resume my-3">
          <div>
            <div><i class="bi bi-caret-right icon"></i></div>
            <h4>Maac</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Consequuntur, rerum?
            </p>
          </div>
        </div>
        <div class="col-lg-9 resume my-3">
          <div>
            <h4>12th class</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Consequuntur, rerum?
            </p>
          </div>
        </div>
        <div class="col-lg-9 resume my-3">
          <div>
            <h4>10th class</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Consequuntur, rerum?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div
    class="container-fluid py-5 text-light main-sec"
    style="background-color: #101010"
  >
    <div class="container">
      <h1 class="text-center fw-bold">My Skills</h1>
      <div class="row justify-content-around py-5">
        <div class="col-lg-5 skills">
          <h5>HTML 5</h5>
          <div class="row align-items-center justify-content-between">
            <div
              class="col-lg-10 ms-2 rounded d-flex"
              style="
                width: 81%;
                height: 6px;
                background-color: white;
                padding: 0px;
              "
            >
              <div
                class="rounded"
                style="width: 80%; background-color: red; height: auto"
              ></div>
            </div>
            <div class="col-lg-2 text-center">80%</div>
          </div>
        </div>
        <div class="col-lg-5 skills">
          <h5>CSS 3</h5>
          <div class="row align-items-center justify-content-between">
            <div
              class="col-lg-10 ms-2 rounded d-flex"
              style="
                width: 81%;
                height: 6px;
                background-color: white;
                padding: 0px;
              "
            >
              <div
                class="rounded"
                style="width: 80%; background-color: red; height: auto"
              ></div>
            </div>
            <div class="col-lg-2 text-center">80%</div>
          </div>
        </div>
        <div class="col-lg-5 skills mt-5">
            <h5>HTML 5</h5>
            <div class="row align-items-center justify-content-between">
              <div
                class="col-lg-10 ms-2 rounded d-flex"
                style="
                  width: 81%;
                  height: 6px;
                  background-color: white;
                  padding: 0px;
                "
              >
                <div
                  class="rounded"
                  style="width: 80%; background-color: red; height: auto"
                ></div>
              </div>
              <div class="col-lg-2 text-center">80%</div>
            </div>
          </div>
          <div class="col-lg-5 skills mt-5">
            <h5>HTML 5</h5>
            <div class="row align-items-center justify-content-between">
              <div
                class="col-lg-10 ms-2 rounded d-flex"
                style="
                  width: 81%;
                  height: 6px;
                  background-color: white;
                  padding: 0px;
                "
              >
                <div
                  class="rounded"
                  style="width: 80%; background-color: red; height: auto"
                ></div>
              </div>
              <div class="col-lg-2 text-center">80%</div>
            </div>
          </div>
          <div class="col-lg-5 skills mt-5">
            <h5>HTML 5</h5>
            <div class="row align-items-center justify-content-between">
              <div
                class="col-lg-10 ms-2 rounded d-flex"
                style="
                  width: 81%;
                  height: 6px;
                  background-color: white;
                  padding: 0px;
                "
              >
                <div
                  class="rounded"
                  style="width: 80%; background-color: red; height: auto"
                ></div>
              </div>
              <div class="col-lg-2 text-center">80%</div>
            </div>
          </div>
          <div class="col-lg-5 skills mt-5">
            <h5>HTML 5</h5>
            <div class="row align-items-center justify-content-between">
              <div
                class="col-lg-10 ms-2 rounded d-flex"
                style="
                  width: 81%;
                  height: 6px;
                  background-color: white;
                  padding: 0px;
                "
              >
                <div
                  class="rounded"
                  style="width: 80%; background-color: red; height: auto"
                ></div>
              </div>
              <div class="col-lg-2 text-center">80%</div>
            </div>
          </div>

      </div>


    </div>
  </div>
</section>
<section>
    <div class="container-fluid py-5 text-light main-sec"
    style="background-color: #101010">
    <div class="container">
        <h1 class="text-center fw-bold py-5">My Projects
            <span><i class="bi bi-github"></i></span>
        </h1>
        <div class="row justify-content-center">
            <div class="col-lg-8 resume my-3">
                <h5>Project name</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-8 resume my-3">
                <h5>Project name</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-8 resume my-3">
                <h5>Project name</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="col-lg-8 resume my-3">
                <h5>Project name</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>

    </div>
</section>
